.container {
    max-width: 90%; /* Set the width of the container */
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping */
    background-color: blanchedalmond;
    padding: 50px;
    /* border: 2px orange solid; */
    margin-bottom: 5px;
    border-radius: 10px ;
    
  }

  .content {
    display: inline-block; /* Make content stay in one line */
    /* max-width: 80%; Set the width of the content to exceed the container */
  }